<%# 
Required: item[color_class name]
%>

<span class="mr-4">
    <span class="tag is-primary is-medium">
        <%= @item.name %>
    </span>

    <ion-icon name="pencil"></ion-icon>
    <ion-icon name="trash-outline"></ion-icon>
</span>