<h1>Show Label</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @label.name %>
  </li>

  <li>
    <strong>Color class:</strong>
    <%= @label.color_class %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.label_path(@conn, :edit, @label) %></span> |
<span><%= link "Back", to: Routes.label_path(@conn, :index) %></span>
