<%# 
  Required: timestamps[]
%>

<%= if @timestamps.deadline do %>
  <span class="tag is-tiny-text is-danger is-light is-letter-spaced-0 mt-2">
    Due: <%= @timestamps.deadline %>
  </span>
<% end %>

<%= if @timestamps.completed_on do %>
  <span class="tag is-tiny-text is-success is-light is-letter-spaced-0 mt-2">
    Completed: <%= @timestamps.completed_on %>
  </span>
<% end %>
