/* Status colors */
$initiated: #BCBCBC;
$started: #FF7324; 
$overdue: #D84646;
$completed: #059C1D;
$on_hold: #000000;

/* Theme colors */
$blue_whale: #053344;
$black: #000000;
$gray: #DBDBDB;
$white: #FFFFFF;
$off_white: #E8E8E8;

.is-text-blue-whale {
    color: $blue_whale;
}