.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.place-flex-end {
    place-self: flex-end
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.right-attached {
    right: 0px;
}

.left-attached {
    left: 0px;
}

.fullwidth {
    width: 100% !important;
}