.task-list {
  width: 96%; 
  padding-bottom: 30vh;
}

.task-card {
  border-radius: 20px;
  padding: 20px;
  
  /* Status Class Selectors */
  &.initiated {
    border-left: solid;
    border-left-color: $initiated;
    border-left-width: 25px;
  }

  &.started {
    border-left: solid;
    border-left-color: $started;
    border-left-width: 25px;
  }

  &.completed {
    border-left: solid;
    border-left-color: $completed;
    border-left-width: 25px;
  }

  &.on-hold {
    border-left: solid;
    border-left-color: $on_hold;
    border-left-width: 25px;
  }

  &.overdue {
    border-left: solid;
    border-left-color: $overdue;
    border-left-width: 25px;
  }

  hr {
    background-color: $gray;
    height: 1px;;
  }

  .content {
    &.truncated {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
    }
  }
}

ion-icon { 
  cursor: pointer;

  &.initiated { 
    color: $initiated;
  }
  &.started { 
    color: $started;
  }
  &.completed { 
    color: $completed;
  }
  &.on_hold { 
    color: $on_hold;
  }
}

.action-button {
  width: 1.2em;
  height: 1.2em;
  padding-top: 4px;
  color: $white;
  opacity: 50%;
}

.state-actions-container {
  left: 4px;
  bottom: 15px;
}

.action-state-link, .action-state-link:hover, .action-state-link:active, .action-state-link:focus {
  color: initial;
    text-decoration: none;
    background: transparent;
    border: none;
    padding: 0;
    display: block;
    height: unset;
    line-height: unset;
}
// .action-state-link:hover {
//   color: initial;
//     text-decoration: none;
//     background: transparent;
//     border: none;
//     padding: 0;
//     display: block;
//     height: 25px;
// }

.task-card {
  .content:hover {
    &.truncated {
      overflow: visible;
      display: block;
    }
  }
}

// .task-card:hover {
//   border-: solid;
//   border-width: 10px;
//   border-color: #F1E1A6;
// }

.task-form {
  label {
    font-size: 1em;
    font-weight: 100;
  }

  input, textarea, select {
    background-color: $off_white;
    color: $black;

    &:disabled {
      opacity: 0.3;
    }
  }
}