<div>
  <p class="is-size-3 mb-3 has-text-weight-bold"><%= @title %></p>

  <form
    id="list-form"
    phx-target={@myself}
    phx-submit="save">
  
    <input name="list[title]" value={@list.title} placeholder="Give this list a name" style="background-color: white;">
  
    <div class="field is-pulled-right pt-4">
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </form>
</div>
