<header class="card-header mb-0">
  <div class="card-header-title columns">
    <div class="column is-1">
      <ion-icon name="ellipse-outline" class="icon is-clickable is-large"></ion-icon>
    </div>
    <div class="column">
      <p class="is-size-5 has-text-weight-semibold ml-3"> 
        <%= @task.description %>
      </p>
    </div>
    <div class="edit column is-1">
      <ion-icon name="pencil-outline"></ion-icon>
    </div>
  </div>
</header>