<div class="header mt-3 py-1">
  <p class="is-size-6 has-text-weight-semibold mb-0"> 
    <%= @task.description %>
  </p>
  <p class="is-italic is-size-7 is-letter-spaced-0">
    <%= @task.status_desc %> 
    <%= if @status == "overdue" do %>
      &bull OVERDUE
    <% end %>
  </p>
</div>