<%# 
  Required: timestamps[]
%>

<span class="tag is-danger is-light">
  Deadline: <%= @timestamps.deadline %>
</span>
<span class="tag is-success is-light">
  Completed on: <%= @timestamps.completed_on %>
</span>
