<%# 
  Required: timestamps[]
%>

<span class="tag is-danger is-light is-letter-spaced-0 mt-2">
  Due: <%= @timestamps.deadline %>
</span>
<span class="tag is-success is-light is-letter-spaced-0 mt-2">
  Completed on: <%= @timestamps.completed_on %>
</span>
