<section class="container is-fluid px-6">
        <nav class="relative navbar-menu p-6">
            <div class="navbar-start absolute left-attached pl-5">
            </div>

            <div class="navbar-end absolute right-attached pr-5">
              <%= render "header_right_menu.html", conn: @conn %>
            </div>
        </nav>
</section>